<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='lib/css/dc.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand">2015 Crime Data Analytics</a>
		</div>

        <div class="navbar-header">
			<a class="navbar-brand" href="/crime_analysis/2015">Map View</a>
		</div>

        <div class="navbar-header">
			<a class="navbar-brand" href="/" style="transform: translate(800px, 0px);">Go back to Dashboard</a>
		</div>
    </div>

    <svg class="map_container" width="960" height="600"></svg>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/crossfilter.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/queue.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/keen.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
</body>
</html>